.Login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login__Form {
  width: 30%;
}

@media (max-width: 600px) {
  .Login__Form {width: 90%;}
}

.Login__Alert {
  margin-top: 16px;
}